{% extends 'base.html' %}

{% block content %}
<header>
    <div id="content"></div><div class="jumbotron text-center" style = "background-image: url(./static/mission.png);"><h1><emp><i class = "textdec">Our mission is to provide free and quality service to the needy</i></emp></h1></div>
  </header>

  <div class = "conatiner-fluid">
     <main>


  <br>

  <div class = "container">
    <div class = "row">
      <div class = "col-md-12">
        <h2 class = "headdec">Mission</h2>
        <p class = "pdec">This website hopes to create a medium to enhance the quality of rural service projects. <br> Instead of relying solely on phone calls for discussing about the project, the project memebers can use this website to meet their goals.</p>
      </div>
    </div>

    <div class = "row">
      <div class = "col-md-12">
        <h2 class = "headdec">Team</h2>
        <p class = "pdec">We work with the students and staff of SSSHSS and the SSSIHL</p>
      </div>
    </div>
   </div>

   
  </div>

  </main>
  </div>

<br>

<div id = "footercontent">
</div>
{% endblock %}