{% extends 'base.html' %}

{% block content %}
<header>
    <div id="content"></div><div class="jumbotron text-center"><h1><emp><i>Volunteer!</i></emp></h1><p class = "pdec">Your act of service can make a difference!</p></div>  
  </header>

  <div class = "conatiner fluid">
     <main>
      <div class = "container">
        <div class = "row">
          <div class = "col-md-12">
            <h2 class = "headdec">What we do</h2>
            <p class = "pdec">If you want to do your part to help the needy people, we can help you with that!</p>
          </div>
        </div>

        <div class = "row">
          <div class = "col-md-4">
             <span class = "spandec border border-0"><a href = "membermeetings"><img width = "200" height = "200" src = "./static/calendar.png" alt = "Figure#1"></a><h4>Attend monthly meetings to discuss about service projects</h4></span>
          </div>
          <div class = "col-md-4">
             <span class = "spandec"><a href = "donate"><img class="round-circle" width = "200" height = "200" src = "./static/donate.png" alt = "Figure#2"></a><h4>Support by donating! The money which you donate is given to the poor villages to improve their infrastructure</h4></span>
         </div>
         <div class = "col-md-4">
             <span class = "spandec"><a href = "onsite"><img class="round-circle" width = "200" height = "200" src = "./static/service.png" alt = "Figure#3"></a><h4>Click here to register for on-site service!</h4></span>
         </div>
         </div>
      </div>

    <br>

      <div class = "conatiner fluid">
        <main>
         <div class = "container">
           <div class = "row">
             <div class = "col-md-4">
                <span class = "spandec border border-0">
                  <div class = "row">
                    <a href = "https://www.facebook.com/"><img width = "66.67" height = "100" src = "./static/facebook.png" alt = "Figure#1a"></a>
                    <a href = "https://www.instagram.com/"><img width = "66.67" height = "100" src = "./static/instagram.png" alt = "Figure#2a"></a>
                    <a href = "https://www.snapchat.com/"><img width = "66.67" height = "100" src = "./static/snapchat.png" alt = "Figure#3a"></a>
                  </div>
                  <div class = "row">
                    <a href = "https://twitter.com/?lang=en"><img width = "66.67" height = "100" src = "./static/twitter.png" alt = "Figure#4a"></a>
                    <a href = "https://www.whatsapp.com/?lang=en"><img width = "66.67" height = "100" src = "./static/whatsapp.png" alt = "Figure#5a"></a>
                    <a href = "https://www.linkedin.com/"><img width = "66.67" height = "100" src = "./static/linkedin.png" alt = "Figure#6a"></a>
                  </div>
                  <h4>Support us on social media!</h4>
                </span>
             </div>
             <div class = "col-md-4">
                <span class = "spandec"><a href = "response"><img class="round-circle" width = "200" height = "200" src = "./static/email.png" alt = "Figure#2"></a><h4>Write to us about your experiences and email us about what we can do to enhance our service!</h4></span>
             </div>
             <div class = "col-md-4">
                <span class = "spandec"><a href = "event"><img class="round-circle" width = "200" height = "200" src = "./static/meeting.png" alt = "Figure#3"></a><h4>Join an event!</h4></span>
             </div>
            </div>
         </div>
     </main>
  </div>

  <br>

  <div id="footercontent">
  </div>
{% endblock %}