{% extends 'base.html' %}

{% block content %}
<header>
    <div id="content"></div><div class="jumbotron text-center"><h1><emp><i>Events</i></emp></h1></div>
  </header>

  <div class = "conatiner-fluid">
     <main>
          <div class = "row">
            <div class = "col-md-12">
              <h2 class = "headdec">Upcoming Events</h2>
            </div>
          </div>
          <div class = "row">
            <div class = "col-md-12">
            <!--<table border = "1" class = "table table-hover table-striped">
              <thead class = "thead-light">
              <tr>
                  <th>Time</th>
                  <th>Event</th>
                  <th>Monday July 26</th>
                  <th>Tuesday July 27</th>
                  <th>Wednesday July 28</th>
                  <th>Thursday July 29</th>
                  <th>Friday July 30</th>
                  <th>Saturday July 31</th>
                  <th>Sunday August 1</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <th scope = "row">9:00 AM</th>
                <td>  </td>
                <td>  </td>
                <td>  </td>
                <td>  </td>
                <td>  </td>
                <td>  </td>
                <td>  </td>
                <td>  </td>
              </tr>
              <tr>
                <th scope = "row">10:00 AM</th>
                <td>  </td>
                <td>  </td>
                <td>  </td>
                <td>  </td>
                <td>  </td>
                <td>  </td>
                <td>  </td>
                <td>  </td>
              </tr>
              <tr>
                <th scope = "row">11:00 AM</th>
                <td>  </td>
                <td>  </td>
                <td>  </td>
                <td>  </td>
                <td>  </td>
                <td>  </td>
                <td>  </td>
                <td>  </td>
              </tr>
              <tr>
                <th scope = "row">12:00 PM</th>
                <td>  </td>
                <td>  </td>
                <td>  </td>
                <td>  </td>
                <td>  </td>
                <td>  </td>
                <td>  </td>
                <td>  </td>
              </tr>
              <tr>
                <th scope = "row">1:00 PM</th>
                <td>  </td>
                <td>  </td>
                <td>  </td>
                <td>  </td>
                <td>  </td>
                <td>  </td>
                <td>  </td>
                <td>  </td>
              </tr>
              <tr>
                <th scope = "row">2:00 PM</th>
                <td>  </td>
                <td>  </td>
                <td>  </td>
                <td>  </td>
                <td>  </td>
                <td>  </td>
                <td>  </td>
                <td>  </td>
              </tr>
              <tr>
                <th scope = "row">3:00 PM</th>
                <td>  </td>
                <td>  </td>
                <td>  </td>
                <td>  </td>
                <td>  </td>
                <td>  </td>
                <td>  </td>
                <td>  </td>
              </tr>
              <tr>
                <th scope = "row">4:00 PM</th>
                <td>  </td>
                <td>  </td>
                <td>  </td>
                <td>  </td>
                <td>  </td>
                <td>  </td>
                <td>  </td>
                <td>  </td>
              </tr>
              <tr>
                <th scope = "row">5:00 PM</th>
                <td>  </td>
                <td>  </td>
                <td>  </td>
                <td>  </td>
                <td>  </td>
                <td>  </td>
                <td>  </td>
                <td>  </td>
              </tr>
              <tr>
                <th scope = "row">6:00 PM</th>
                <td>  </td>
                <td>  </td>
                <td>  </td>
                <td>  </td>
                <td>  </td>
                <td>  </td>
                <td>  </td>
                <td>  </td>
              </tr>
              </tbody>
            </table>-->
          </div>
          </div>

  <br>

  <div class = "container">
    <div class = "row">
      <div class = "col-md-12">
        <h2 class = "headdec">Register for an Event!</h2>
        <p class = "pdec">Over <emp><i style="color: #000066;">100+</i></emp> people working with us</p>
      </div>
    </div>

    <div class = "row">
      <div class = "col-md-4">
         <span class = "spandec border border-0"><a href = "medicalservice"><img width = "200" height = "200" src = "./static/medical.png" alt = "Figure#1"></a><h3>Medical Service</h3></span>
      </div>
      <div class = "col-md-4">
         <span class = "spandec"><a href = "foodservice"><img class="round-circle" width = "200" height = "200" src = "./static/food.png" alt = "Figure#2"></a><h3>Supplies and Food Provision</h3></span>
     </div>
     <div class = "col-md-4">
         <span class = "spandec"><a href = "cleanservice"><img class="round-circle" width = "200" height = "200" src = "./static/clean.png" alt = "Figure#3"></a><h3>Village Cleaning</h3></span>
     </div>
     </div>
  </div>

  </main>
  </div>

  <br>

  <div id="footercontent">
  </div>
{% endblock %}